/* Normalize CSS v8.0.0 */

button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}

/* 

	Breakpoint reference

	Extra small devices (portrait phones, less than 576px)
	No media query for `xs` since this is the default

	Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) { ... }

	Medium devices (tablets, 768px and up)
	@media (min-width: 768px) { ... }

	Large devices (desktops, 992px and up)
	@media (min-width: 992px) { ... }

	Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { ... }

*/


/* Global Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	font-family: Lato, sans-serif;
	color: white;
	font-size: 1.125em; /* Equals 18px on default browser settings */
	line-height: 1.5;
	background: #ff9966;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Header */

header {
	padding: 1.25em;
	position: absolute;
	width: 100%;
	z-index: 100;
}

header a {
	font-size: 1.33em;
	line-height: 0;
	color: white;
	text-decoration: none;
	opacity: .6;
	transition: opacity .3s linear;
}

header a:hover {
	opacity: 1;
}


/* Main Content */

.wrapper {
	height: 100%;
	position: relative;
}

main {
	height: 100%;
	/*margin-left: 280px;*/
	flex-grow: 1;
	/*transform: translateX(-280px);*/
	display: flex;
	justify-content: center;
	align-items: center;
	transition: margin-left .2s ease-out;
}

.toggle-on main {
	margin-left: 320px;
}

@media (max-width: 767px) {
	.toggle-on main {
		transition: none;
		margin-left: 0;
	}
}


/* Timer Form */

.main-content-wrapper {
	margin-top: -10em;
}

main h2 {
	font-size: 2.5em;
	margin: 0 0 .5em;
	text-align: center;
	line-height: 1;
}

fieldset {
	background: rgba(0,0,0,0.3);
	font-size: 2em;
	padding: 1em;
	border-radius: 1em;
	color: rgba(0,0,0,0.5);
	border: none;
}

input[type="text"] {
	color: rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.25);
	border: 0;
	margin-right: 5px;
	padding: .3em;
	border-radius: .3em;
	box-shadow: inset 0 0 8px 10px rgba(0,0,0,0.1);
	text-align: right;
}

input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.5);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.5);
}

input::-ms-input-placeholder {
	color: rgba(255,255,255,0.5);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.5);
}

input::placeholder {
	color: rgba(255,255,255,0.5);
}

label:first-of-type {
	margin-right: .3em;
}

input[type="text"]:focus {
	outline: none;
}

fieldset button {
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: .3em;
	margin-left: .5em;
	color: rgba(255,255,255, 0.7);
	border: 0;
}

fieldset button:hover {
	color: rgba(255,255,255,0.8);
}

fieldset button:focus {
	outline: none;
}

fieldset div {
	font-size: 1rem;
	margin: 0;
	padding-bottom: .5em;
	color: rgba(255,255,255,0.6);
	line-height: 1;
}

@media (max-width: 991px) {
	.main-content-wrapper {
		margin: 0;
	}

	.toggle-on main h2 {
		font-size: 2em;
	}

	.toggle-on fieldset {
		font-size: 1.5em;
	}
}

@media (max-width: 767px) {

	main h2 {
		font-size: 2em;
	}

	fieldset {
		font-size: 1.5em;
	}
}

@media (max-width: 575px) {
	main h2 {
		font-size: 1.75em;
	}

	fieldset {
		font-size: 1.25em;
	}
}


/* Timer */

.screen {
	font-size: 5em;
	color: rgba(255,255,255,0.7);
	text-align: center;
}

.timer-colon {
	vertical-align: .1em;
}

.timer button {
	border: none;
}

.timer button:focus {
	outline: none;
}

.end-early-btn, .new-session-btn {
	display: block;
	margin: 0 auto;
	font-size: 1.2em;
	padding: .6em .8em;
	background: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.7);
	border-radius: 1em;
	transition: background .3s linear;
}

.end-early-btn:hover, .new-session-btn:hover {
	background:rgba(0,0,0,0.4);
}

.pause-btn, .play-btn {
	display: block;
	margin: 0 auto 2rem;
	height: 4.2rem; /* Height needs to be equal to font-size when it expands so that it doesn't push other elements up */
	font-size: 4rem;
	line-height: 1;
	background: none;
	color: white;
	transition: font-size .2s linear;
}

.pause-btn:hover, .play-btn:hover {
	font-size: 4.2rem;
}

.post-meditation-msg {
	color: rgba(255,255,255,.7);
	font-size: 1.2em;
	margin-top: 0;
}

@media (max-width: 575px) {
	.screen {
		font-size: 4em;
	}

	.pause-btn, .play-btn {
		height: 3.2rem;
		font-size: 3rem;
	}

	.pause-btn:hover, .play-btn:hover {
		font-size: 3.2rem;
	}

}


/* Sidebar */

aside {
	width: 320px;
	min-height: 100%;
	top: 0;
	left: -320px;
	position: absolute;
	background-color: white;
	color: #333;
	display: flex;
	flex-direction: column;
	z-index: 1000;
	transition: transform .2s ease-out;
	padding: .5em 1.5em;
}

.toggle-on aside {
	transform: translateX(320px);
}

aside button {
	background: none;
	border: none;
	font-size: 3em;
	font-weight: bold;
	align-self: flex-end;
	line-height: 1;
	padding: 0;
}

aside button:hover {
	cursor: pointer;
}

aside button:focus {
	outline: none;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0;
	line-height: 1.2;
}

aside h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0;
	line-height: 1.2;
}

aside a {
	color: #FF8664;
	text-decoration: none;
}

aside a:hover {
	text-decoration: underline;
}

/* Change sidebar to take up entire screen on tablets and below */

@media (max-width: 767px) {
	.toggle-on aside {
		transition: none;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: auto;
		transform: none;
	}
}


/* Misc */

.show {
	display: block;
}

.hide {
	display: none;
}


/* Debug */

/*.debug-end-timer {
	position: absolute;
	bottom: 0;
	left: 50%;
	background: blue;
}*/